/* UploadFiles.css */

.root {
    -fx-background-color: #f4f7fd;
}

.page-title {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #093170;
}

.section-title {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #093170;
}

/* --- The Main Upload Card --- */
.upload-card {
    -fx-background-color: white;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 20, 0, 0, 5);
    /* Optional: Dashed border for drag zone effect */
    -fx-border-color: #dcdde1;
    -fx-border-width: 2;
    -fx-border-style: dashed;
    -fx-border-radius: 20;
}

/* When dragging over */
.upload-card-drag {
    -fx-border-color: #0984e3;
    -fx-background-color: #f0f8ff;
}

.upload-text-header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #093170;
}

.upload-text-sub {
    -fx-font-size: 14px;
    -fx-text-fill: #b2bec3;
}

.browse-btn {
    -fx-background-color: transparent;
    -fx-border-color: #0984e3;
    -fx-border-radius: 5;
    -fx-text-fill: #0984e3;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}

.browse-btn:hover {
    -fx-background-color: #0984e3;
    -fx-text-fill: white;
}

/* Icon Background Cloud */
.icon-bg {
    -fx-background-color: #0984e3;
    -fx-background-radius: 50%; /* Circle */
    -fx-min-width: 80px;
    -fx-min-height: 80px;
    -fx-max-width: 80px;
    -fx-max-height: 80px;
}

.upload-icon-shape {
    -fx-fill: white;
    -fx-content: "M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z";
}


/* --- Progress List Items --- */
.scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.progress-item {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.03), 5, 0, 0, 2);
}

.filename-text {
    -fx-font-weight: bold;
    -fx-text-fill: #2d3436;
}

.percentage-text {
    -fx-text-fill: #0984e3;
    -fx-font-size: 12px;
}

.custom-progress-bar .track {
    -fx-background-color: #dfe6e9;
    -fx-background-radius: 5;
}

.custom-progress-bar .bar {
    -fx-background-color: #0984e3;
    -fx-background-radius: 5;
}

.cancel-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #b2bec3;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.cancel-btn:hover {
    -fx-text-fill: #d63031;
}

.file-icon {
    -fx-background-radius: 5;
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-alignment: center;
    -fx-font-size: 18px;
}

.icon-teal {
    -fx-background-color: rgba(0, 184, 148, 0.1);
    -fx-text-fill: #00b894;
}
.icon-pink {
    -fx-background-color: rgba(232, 67, 147, 0.1);
    -fx-text-fill: #e84393;
}